header {
    background-image: url('minee.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
}




.header-item, button {
    display: flex;
    margin-right: 100px;
    background-image: url('minee.jpg');
    height: 30px;
    width: 100px;
}

body {
    width: 100%;
    height: 100%;
    margin: auto;
}

.kkokr {
    font-family: 'Times New Roman', Times, serif;
}

.eded {
    background-image: url('wf.jpg');
    color:white;
    width: 400px;
    height: 200px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body {
        font-size: 14px; /* уменьшаем размер шрифта для лучшей читаемости на планшетах */
    }
}

/* Стили для мобильных устройств */
@media (max-width: 480px) {
    body {
        font-size: 12px; /* еще больше уменьшаем размер шрифта для мобильных устройств */
    }
}